@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;

}

.customFont{
    font-family: 'Cinzel Decorative', serif;
}
.hero_index{
    background-image: url('./assets/hero_index.jpg');
    background-position: center;
    background-size: cover;
}
.hero_button{
    position: relative;
    z-index: 0;
}
.hero_button::after{
    position: absolute;
    content: '';
    inset: 0 0 0 0;
    margin: auto;
    background-color: black;
    width: 0px;
    height: 100%;
    z-index: -1;
    transition: width .3s ease-in-out;
}
.hero_button:hover{
    color: white!important;
    
}
.hero_button:hover::after {
    width: 100%;
}
.recientemente_agregado_imagenes{
    overflow: hidden;
    aspect-ratio: 1;
    cursor: pointer;
}
.recientemente_agregado_imagenes img{
    transition: transform .3s ease-in-out;

}
.recientemente_agregado_imagenes img:hover{
    transform: scale(1.15);
}
.gallery{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    place-content: center;
}
@media (max-width: 768px) {
    .gallery{
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

    }
}
.gallery img{
    width: 100%;
}
.galleryInput{
    border: 1px solid black;
    padding: 10px 20px;
    width: 100%;
}
.galleryInput:focus{
    outline: 1px solid black;
}
.gallery div, .galleryExplore div{
    position: relative;
cursor: pointer;

}
.gallery .overlay, .galleryExplore .overlay{
    position: absolute;
    transition: opacity .3s ease-in-out;
    inset: 0 0 0 0;
    opacity: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, #0000, rgba(0, 0, 0, 0.5) 80%);
    display: flex;
    align-items: end;
    justify-content: start;
    color: white;
    z-index: 1;
text-align: center;
padding: 1rem;

}

.gallery div img:hover + .overlay, .gallery .overlay:hover, .galleryExplore div img:hover + .overlay, .galleryExplore .overlay:hover {
    opacity: 1;

}
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px; 
}
.quote_index{
    background-image: linear-gradient(rgba(0, 0, 0, 0.502),rgba(0, 0, 0, 0.502)),url('./assets/bg_section_index.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
}
@media (max-width: 768px) {
    .quote_index{
        background-attachment: scroll;

    }
}
nav{
    transition: all .3s ease-in-out;
    opacity: 0;
}
.navVisible{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 1;
}
.masonry-item{
    width: calc(33% - 30px);
    margin: 15px;
}
@media (max-width: 768px) {
    .masonry-item{
        width: calc(50% - 10px);
        margin: 5px;

    }
}
.masonry-item img{
    width: 100%;
}
.contenedor-colores{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
}
@media (max-width: 992px) {
    .contenedor-colores{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 530px) {
    .contenedor-colores{
        grid-template-columns: repeat(4, 1fr);
    }
    .containerFilters{
        display: block!important;
    }
}
.galleryButtonColor{
    aspect-ratio: 16/9;
}
.containerFilters{
    display: flex;
}

.colorIndicatorGallery{
    width: 35px;
    height: 35px;
    border-radius: 50%!important;
    border: 1px solid red;
}
.bg-nosotros{
    background-image: url("./assets/bg_nosotros.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: #212529 ;
}
.bg-nosotros p{
color: rgba(33, 37, 41, 0.75);
}
@media (max-width: 768px) {
    .bg-nosotros{
        background-image: linear-gradient(#0005,#0005),url("./assets/bg_nosotros_mobile.jpg");
        color: #f8f9fa;
    }
    .bg-nosotros p{
        color: #c5c5c5;
    }
}